# Data Science Tools and Ecosystem #

In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives:**
* Popular languages for Data Science
* Commonly used libraries for Data Science
* Data Science tools
* A few examples of arithmetic expressions in Python

Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. NumPy
3. Matplotlib

| Data Science Tools|
| ----------------- |
| Jupyter |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Shivi Mendiratta